<%- include('partials/header.ejs') %>

<style>

</style>

<body>
    <script src="/functions/consultarCep.js"></script>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Consulta CEP</h1>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">CEP</th>
                <th scope="col">Unidade Federal</th>
                <th scope="col">Cidade</th>
                <th scope="col">Bairro</th>
                <th scope="col">Rua</th>
                <th scope="col">IBGE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" id="codep"> </th>
                <td scope="row" id="uf"> </td>
                <td scope="row" id="cidade"> </td>
                <td scope="row" id="bairro"> </td>
                <td scope="row" id="rua"> </td>
                <td scope="row" id="ibge"> </td>
              </tr>
            </tbody>
        </table>

        <div id="invalid" class="alert alert-warning" role="alert" style="display: none">
            CEP Inválido
        </div>

        <label name="cep"> CEP </label>
        <input name="cep" id="cep" class="form-control" type="number" placeholder="Digite o CEP" \>
        <br>
        <button onclick="consultarCep()" class="btn btn-outline-primary"> BUSCAR CEP </button>
        <hr>          
    </div>
</body>

</html>